[Desktop Entry]
Encoding=UTF-8
Name=Garuda Gamer
Comment=A utility For gamers to install gaming stuff
Exec=garuda-gamer
Terminal=false
Type=Application
Icon=garuda-gamer
Categories=GNOME;GTK;System;Garuda-Setup;
NoDisplay=false
X-XFCE-Source=file:///usr/share/applications/garuda-gamer.desktop
