[Desktop Entry]
Name=Notion
Exec=/opt/Notion/notion-app %U
Terminal=false
Type=Application
Icon=notion-app
StartupWMClass=notion-app
StartupNotify=true
Comment=The all-in-one workspace for your notes and tasks
MimeType=x-scheme-handler/notion;x-scheme-handler/notion;x-scheme-handler/notion;x-scheme-handler/notion;x-scheme-handler/notion;x-scheme-handler/notion;x-scheme-handler/notion;
Categories=Office;Utility;
X-XFCE-Source=file:///usr/share/applications/notion-app.desktop
