[cur]
PosX=10
PosY=62
Width=300
Height=380
TabsOrder=
LastTab=-1
Above=false
Sticky=true
Transparency=9
Visible=false

[new]
PosX=10
PosY=62
Width=300
Height=380
TabsOrder=
LastTab=-1
Above=false
Sticky=true
Transparency=9
Visible=false

[tmp]
PosX=10
PosY=62
Width=300
Height=380
TabsOrder=
LastTab=-1
Above=false
Sticky=true
Transparency=9
Visible=false
