Use_Label=false
Show_Values=true
Show_Bars=false
Colorize_Values=true
Color_In=rgb(0,255,38)
Color_Out=rgb(192,191,188)
Text=Net
Network_Device=wlo1
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=5000
Values_As_Bits=false
Digits=0

