[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tobecci/Desktop/xfce4-file-manager.desktop]
row=4
col=0

[d98d56ca-3e4d-42aa-a0a1-be0602604976]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/tobecci]
row=2
col=0

