[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tobecci/Desktop/chrome-kjgfgldnnfoeklkmfkjfagphfepbbdan-Profile_7.desktop]
row=6
col=0

[/home/tobecci/Desktop/firefox-spotify.desktop]
row=2
col=1

[/home/tobecci/Desktop/postman.desktop]
row=1
col=1

[/home/tobecci/Desktop/youtube-music.desktop]
row=5
col=1

[/home/tobecci/Desktop/net.lutris.Lutris.desktop]
row=0
col=1

[/home/tobecci/Desktop/xfce4-file-manager.desktop]
row=5
col=0

[/home/tobecci/Desktop/firefox-twitter.desktop]
row=3
col=1

[/home/tobecci/Desktop/firefox-whatsapp.desktop]
row=4
col=1

[/home/tobecci/Desktop/xfce-backdrop-settings.desktop]
row=4
col=0

[/home/tobecci/Desktop/insomnia.desktop]
row=7
col=0

[d98d56ca-3e4d-42aa-a0a1-be0602604976]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/tobecci]
row=1
col=0

