[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tobecci/Desktop/src]
row=1
col=15

[/home/tobecci/Desktop/net.lutris.Lutris.desktop]
row=0
col=1

[/home/tobecci/Desktop/tor-browser.desktop]
row=1
col=1

[/home/tobecci/Desktop/firefox-whatsapp.desktop]
row=4
col=1

[/home/tobecci/Desktop/code.desktop]
row=6
col=1

[/home/tobecci/Desktop/firefox-twitter.desktop]
row=3
col=1

[/home/tobecci/Desktop/xfce4-file-manager.desktop]
row=5
col=0

[/home/tobecci/Desktop/postman.desktop]
row=7
col=0

[/home/tobecci/Desktop/firefox-spotify.desktop]
row=2
col=1

[/home/tobecci/Desktop/raoatech]
row=0
col=14

[/home/tobecci/Desktop/dev]
row=0
col=13

[/home/tobecci/Desktop/net.lutris.mortalkombatx-9.desktop]
row=0
col=11

[/home/tobecci/Desktop/pes]
row=0
col=12

[/home/tobecci/Desktop/org.xfce.mousepad.desktop]
row=2
col=2

[/home/tobecci/Desktop/Resumes]
row=3
col=13

[/home/tobecci/Desktop/DockerApps]
row=1
col=13

[/home/tobecci/Desktop/youtube-music.desktop]
row=5
col=2

[/home/tobecci/Desktop/bitwarden.desktop]
row=7
col=1

[/home/tobecci/Desktop/xfce-backdrop-settings.desktop]
row=4
col=0

[/home/tobecci/Desktop/firefox.desktop]
row=4
col=2

[/home/tobecci/Desktop/insomnia.desktop]
row=6
col=0

[/home/tobecci/Desktop/playground]
row=2
col=13

[/home/tobecci/Desktop/fintechceosforum]
row=2
col=14

[/home/tobecci/Desktop/downloaded_images]
row=2
col=15

[/home/tobecci/Desktop/firefox-gmail.desktop]
row=3
col=2

[/home/tobecci/Desktop/xfce4-terminal.desktop]
row=1
col=2

[/home/tobecci/Desktop/org.telegram.desktop.desktop]
row=5
col=1

[/home/tobecci/Desktop/chromium.desktop]
row=0
col=2

[/home/tobecci/Desktop/lk-backend]
row=1
col=14

[/home/tobecci/Desktop/gradstudy-admin]
row=0
col=15

[d98d56ca-3e4d-42aa-a0a1-be0602604976]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/tobecci]
row=1
col=0

